<div *ngIf="currentUser.username">
  <button (click)="logout()">Log Out</button><br>
</div>

<h1>Welcome <span *ngIf="currentUser.username">{{ currentUser.username }}</span></h1>

<div *ngIf="currentUser.username; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div class="container">
  </div>
  <app-profile [currentUser]="currentUser"></app-profile>
</ng-template>
<ng-template #elseBlock>
  <div class="left">
    <p class="about">Do you like movies and want to find reviews for your potential next watch or analyze your favorite films with other fans? If so, Cinephiliacs is the perfect application for you. Find information and user generated reviews about films or participate in discussions centered around your favorite, or least favorite, films. You can even follow individual movies to stay up to date on the discussions that have happened while you were away.</p>
    <p class="about">Cinephiliacs is a forum for users to review, discuss, and learn about movies. Users can search for movies by title and each movie has a page which provides information, user reviews, and discussion threads related to topics such as fan theories or analysis.</p>  
    <p class="about">General film information such as rating, genre, actors, and the plot summary is retrieved using the Movie Database API. Users are also able to sign in to their personal account in order to leave reviews for films they have watched, comment on discussions, or start their own discussion thread. Followed movies are displayed on the user’s homepage, along with the user’s reviews and discussions. A spoilers setting on comments allows users to join discussions with others who have not yet viewed the film.</p>
  </div>
  <div class="right">
    <app-login [(currentUser)]="currentUser"></app-login>
  </div>
</ng-template>
