<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <div class="container">
    <a href="#"class="logo">logo</a>
    <nav>
      <ul>
        <li><input type="text" name="search" [(ngModel)]="test"><strong routerLink="/list/{{test}}/1">Search </strong></li>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/list/back/1">Breweries</a></li>
      </ul>
    </nav>
  </div>
  
</header>
<div class="play-container">
  <p>
      
  </p>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>

