<p>discussion works!</p>


<div *ngIf="comments">
    <li *ngFor="let comment of comments">
        <ng-template [ngIf]="comment.isspoiler" [ngIfElse]="nonSpoiler">
            <div class="myDIV">
              Spoiler
            </div>
            
            <div class="spoiler">
                {{comment.text}}
            </div>
        </ng-template>
        <ng-template #nonSpoiler>
            <a routerLink="/user/{{comment.username}}">{{ comment.username }}</a>
            <div>{{comment.text}}</div>
        </ng-template>>
    </li>
</div>

<div id="input">
    <form>
        <input type="text" placeholder="Comment" [(ngModel)]="newComment.text" [ngModelOptions]="{standalone: true}" required>
        <input type="checkbox" [(ngModel)]="newComment.isspoiler" [ngModelOptions]="{standalone: true}">
        <button (click)="postComment()">Comment</button>
    </form>

</div>