<div *ngIf="selectedMovie" class="movieinfo">
    <h1>{{ selectedMovie.Title }}</h1>

    <ul>
        <li>
            <img src="{{selectedMovie.Poster}}" alt="Movie Poster">
            <div class="information">
                <p class="name"><strong>Title:</strong> {{ selectedMovie.Title }}</p>
                <p class="year"><strong>Year(s):</strong> {{ selectedMovie.Year }}<span *ngIf="selectedMovie.Year.substring(selectedMovie.Year.length - 1)=='–'">present</span></p>
                <p class="date"><strong>Release Date:</strong> {{ selectedMovie.Released }}</p>
                <p class="runtime"><strong>Runtime:</strong> {{ selectedMovie.Runtime }}</p>
                <p class="genre"><strong>Genre:</strong> {{ selectedMovie.Genre }}</p>
                <p class="directors"><strong>Director(s):</strong> {{ selectedMovie.Director }}</p>
                <p class="writers"><strong>Writer(s):</strong> {{ selectedMovie.Writer }}</p>
                <p class="actors"><strong>Actors:</strong> {{ selectedMovie.Actors }}</p>
                <p class="awards"><strong>Awards:</strong> {{ selectedMovie.Awards }}</p>
                <p class="plot"><strong>Plot Summary:</strong> {{ selectedMovie.Plot }}</p>
                <!-- <p class="id">{{ selectedMovie.imdbID }}</p> -->
            </div>
        </li>
    </ul>
</div> 

<div class="left">
    <h3>Reviews</h3>
    <ul *ngIf="reviews">
        <li *ngFor="let review of reviews">
            <p class="rating">{{ review.rating}}</p>
            <u routerLink ="/user/{{review.username}}" class="username">{{ review.username}}</u>
            <p >{{ review.text}}</p>
            
        </li>
    </ul>

    <div id="review">
        <h4>New Review</h4>
        <form>
            <label>Rating:</label><br>
            <select name="rating" id="rating" [(ngModel)]="sumbitReview.rating" [ngModelOptions]="{standalone: true}">
                <option selected hidden disabled></option>
                <option value="1">1</option>
                <option value="1.5">1.5</option>
                <option value="2">2</option>
                <option value="2.5">2.5</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
                <option value="4.5">4.5</option>
                <option value="5">5</option>
            </select><br>
            <label>Review Text:</label><br>
            <input type="text" [(ngModel)]="sumbitReview.text" [ngModelOptions]="{standalone: true}"><br>
            <button type="reset"  (click)="postReview()">Submit Review</button>
        </form>
    </div>
</div>

<div class="right">
    <!-- <div *ngIf="topics">
                    
        <div *ngFor="let topic of topics" value="1">
            {{topic}}
            
        </div>
    </div> -->
    <h3>Recent Discussions</h3>
    <ul *ngIf="discussions">
        <li *ngFor="let discussion of discussions">
            <!-- <p >{{ discussion.discussionid}}</p> -->
            <u routerLink="/discussion/{{discussion.discussionid}}">{{discussion.subject}}</u> 
        </li>
    </ul>
    <div id="discussion">
        <h4>New Discussion</h4>
        <form>
            <label>Topic: </label><br>
            <select name="rating" id="rating" [(ngModel)]="submitDiscussion.topic" [ngModelOptions]="{standalone: true}">
                <option selected hidden disabled></option>    
                <option *ngFor="let topic of topics" 
                        [value]="topic">
                        {{topic}}
                </option>
            </select><br>
            <label>Discussion Subject:</label><br>
            <input type="text" [(ngModel)]="submitDiscussion.subject" [ngModelOptions]="{standalone: true}"><br>
            <button type="reset" (click)="postDiscussion()">Submit Discussion</button>
        </form>
    </div>
</div>

